<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>
    <h2> This is title: {{title}}</h2>
    <h3> My name is: {{name}}</h3>
    <h4>Iam {{age}} years old</h4>
    <h4>Iam from: {{city}}</h4>
    <h4>Description: {{desc}}</h4>
    <img src={{img}} alt="">
     <h3>{{>footer}}</h3>
</body>

</html>